<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
      <!-- Please replace the path below to that where you unzipped/installed the DynamoCoreRuntime -->
      <!-- The minimum required version is 2.2.1. Download from https://dynamobuilds.com/ -->
      <add key="DynamoBasePath" value="C:\Users\Radu\Downloads\DynamoCoreRuntime2.2.1"/>
    </appSettings>
</configuration>
