<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- ignore local nuget settings -->
    <clear />
    <!--<add key="LocalDev" value="D:\source\Dynamo\tools\NuGet" />-->
    <add key="Dynamo Artifactory" value="https://art-bobcat.autodesk.com/artifactory/api/nuget/team-dynamo-nuget" />
    <add key="Autodesk Artifactory" value="https://art-bobcat.autodesk.com/artifactory/api/nuget/autodesk-nuget-virtual/" />
  </packageSources>
  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="Dynamo Artifactory">
      <package pattern="pythonnet" />
    </packageSource>
    <packageSource key="Autodesk Artifactory">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
